.welcome-content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  min-width: 700px;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  width: 500px;
}

h1.title {
  text-align: center;
}

p.title {
  text-align: center;
}
